@charset "UTF-8";

/* estilos para impressora */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'esse artigo foi empresso atraves do site jorge luiz';
}